In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.28-cp310-cp310-win_amd64.whl (7.2 MB)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.19.4-cp310-cp310-win_amd64.whl (895 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.28 protobuf-3.19.4
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Program Files (x86)\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [186]:
import mysql.connector
import mysql.connector
from mysql.connector import errorcode
import seaborn as sns

In [93]:
#creat a connection to db
conn = mysql.connector.connect(host="127.0.0.1",    # your host, usually localhost
                     user="root",         # your username
                     passwd="Shiraz123456!",  # your password
                     db="pizza_runner",
                     auth_plugin="mysql_native_password")

print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000020EEDC87C70>

In [179]:
try: 
    cur = conn.cursor()
    print("yay! you can start running queries")
except mysql.connector.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)

Error: Could not get curser to the Database
Unread result found

In [129]:
try: 
    cur.execute("SELECT * FROM pizza_names;")
except mysql.connector.Error  as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Meatlovers')
(2, 'Vegetarian')

In [48]:
cur.execute("SELECT * FROM pizza_names;")
for (pizza_id, pizza_name) in cur:
  print("pizza id {} is for {} ".format(
    pizza_id, pizza_name))

pizza id 1 is for Meatlovers
pizza id 2 is for Vegetarian

In [130]:
import pandas as pd

In [103]:
pip install sqlalchemy

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: sqlalchemy in c:\program files (x86)\python\python310\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\program files (x86)\python\python310\lib\site-packages (from sqlalchemy) (1.1.2)

WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Program Files (x86)\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [104]:
import sqlalchemy

In [122]:
engine= sqlalchemy.create_engine('mysql+pymysql://root:Shiraz123456!@localhost:3306/pizza_runner')
engine

Engine(mysql+pymysql://root:***@localhost:3306/pizza_runner)

In [184]:
df=pd.read_sql_table('runner_orders', engine)

In [232]:
df.head()

   order_id  runner_id          pickup_time distance   duration cancellation
9        10          1  2020-01-11 18:50:20     10km  10minutes         null
4         5          3  2020-01-08 21:10:57       10         15         None
7         8          2  2020-01-10 00:15:02  23.4 km  15 minute         null
2         3          1  2020-01-03 00:12:37   13.4km    20 mins         None
6         7          2  2020-01-08 21:30:45     25km     25mins         null

In [233]:
import matplotlib.pyplot as plt
df.sort_values(by=['duration'], inplace=True, ascending=False)
df.head()

,order_id,runner_id,pickup_time,distance,duration,cancellation
5,6,3,null,null,null,Restaurant Cancellation
8,9,2,null,null,null,Customer Cancellation
3,4,2,2020-01-04 13:53:03,23.4,40,None
0,1,1,2020-01-01 18:15:34,20km,32 minutes,
1,2,1,2020-01-01 19:10:54,20km,27 minutes,

In [234]:
df.sort_values(by=['duration','distance'], inplace=True, ascending=True)

df.head()

   order_id  runner_id          pickup_time distance   duration cancellation
9        10          1  2020-01-11 18:50:20     10km  10minutes         null
4         5          3  2020-01-08 21:10:57       10         15         None
7         8          2  2020-01-10 00:15:02  23.4 km  15 minute         null
2         3          1  2020-01-03 00:12:37   13.4km    20 mins         None
6         7          2  2020-01-08 21:30:45     25km     25mins         null